
h2 {
    background-color: #5599DD;
    color: #DDDDDD;
    padding-top:10px;
}

.exp {
    text-indent: 50px;
}

#email {
    text-decoration: underline;
    font-style: italic;
}

body {
    font-family: Arial;
    width: 940px;
    margin: auto;
    margin: left;
}

#cabecalho {
    text-align: center;
}

