body{
    background-color:#DDDDDD;
    font-family: Arial;
    width:940px;
    margin-right:auto;
    margin-left:auto;
nav{
    float: left;
}   
}
h2{
    background-color: brown;
    background:-webkit-linear-gradient(top,#DDDDDD,#5599DD);
    border-radius:15px;
    border:1px solid black;
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    padding-right:5px;
    color:#adff2f;
}
figure{
    background-color: cornsilk;
    width: 350px;
    text-align: center;
    padding:15px;
    font-family:'Comic Sans MS', cursive;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.7);
    -webkit-transform:rotate(5deg);
}
nav ul li{
    background-color:#C7BE9B;
    margin-bottom:3px;

}
nav ul li:hover{
    background-color:#9C8F67;
}
nav ul li a{
    text-decoration:none;
    color:black;
}
nav ul{
    list-style:none;
    padding-left:0;
}
#tb_nutrientes{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
}
th{
    background-color:brown;
}



#top{
    text-align: center;
}
